body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-color: #fff;
}
img,
picture,
video {
  max-width: 100%;
}

strong{
    font-weight: 600;
    color: #444F60;
}

h1 {
    font-size: 75px;
    line-height: 100px;
    font-weight: 700;
}
h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
}
h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}
h5 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}
h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0 0 15px 0;
}
h1,h2,h3,h4,h5,h6{
    color: #444F60;
}
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #717273;
}
.col-12{
    width: 100%;
}
.col-2{
    width:50%;
}
.col-3{
    width: 33%;
}
.col-4{
    width: 25%;
}
.col-8{
    width: 75%;
}
.col-6{
    width: 50%;
}

.wrapper {
    margin:0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1230px;
    padding: 15px;
}

button{
    padding: 11px 30px;
    border-radius: 5px;
    background-color: transparent;
    color: #99CC00;
    transform: perspective(1px) translateZ(0);
	transition: 0.4s;
    font-family: 'Jost', sans-serif;
}
.button {
	background: rgb(255, 90, 20);
	clip-path: inset(0 100% 0 0);
	opacity: 1;
	transition: 0.4s;
}

button:hover::before {
	clip-path: inset(0 0 0 0);
}

button:hover {
    color: white;
    background-color: #99cc00;
    border-width: 2px;
    border-color: transparent;
}

/* Nav Section */
nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    align-items: center;
}
nav ul li a {
    text-decoration: none;
    color: #666;
    font-size: 16px;
    position: relative;
    transition: width 2s;
    transition-timing-function: ease-in-out;
}
nav ul li a:hover {
    color: #000000;

}
nav ul li a:hover::before{
    width: 35px!important;
}
nav ul li a::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 1px;
    border-bottom: 1px solid #000;
    bottom: -6px;

}
nav ul li a.active {
    color: #000000;
}
nav ul li a.active::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 1px;
    border-bottom: 1px solid #000;
    bottom: -6px;
}

/* Mega Menu */

a.mega_menu{
    position: relative;
}

ul > li > div.mega_menu_block{
    visibility: hidden;
    background-color: #fff;
    position: absolute;
    top: 10%;
    left: 25%;
    min-width: 48%;
    max-width: 100%;
    border-radius: 0.5rem;
    padding: 15px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px -2px, rgba(50, 50, 100, 0.16) 0px 6px 12px -2px;
    box-sizing: border-box;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
}
ul > li:hover > div.mega_menu_block{
    background-color: #f9f9f9;
    visibility: visible;
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.mega_menu_row{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 0px;
}
.mega_menu_col {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}
.mega_menu_item {
    box-sizing: border-box;
    margin: 0px 0px 24px;
    padding: 0 10px;
}
a.mega_menu_content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
a.mega_menu_content img {
  width: 35px;
}

/* Mobile Menu */
.checkbtn {
    font-size: 30px;
    color: #000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
  



/* Banner Section */

.banner_bg {
    background-image: url(/img/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 1360px;
    margin: 0 auto;
    border-radius: 5px;
    height: 600px;
    display: flex;
    align-items: center;
    color: #fff;
}
.banner_inner{
    padding:0 60px;
}
.banner_inner h1,h5{
    color: #fff;
}
.cta_buttons {
    display: flex;
    gap: 3rem;
}
.banner_btn_1 {
    background-color: #FFB200;
    color: #fff;
    border: 0px;
}
.banner_btn_2 {
    color: #fff;
    border: 2px solid;
}

/* Testdrive */
.testdrive {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1230px;
    margin: 0 auto;
    padding: 70px 0 70px;
    gap: 1rem;
}
.testdrive .col-4{
    width: 24%;
}
.testdrvie_content {
    padding: 0 12% 0 0;
}
.testdrive_box {
    background-color: #FAF9FE;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 50px rgb(255 178 0 / 12%);
    cursor: pointer;
    transition-property: background-color, border-radius, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.testdrive_box:hover {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 10px 50px rgb(0 0 0 / 12%);
}
.drive_icon {
    text-align: center;
    margin: 0 0 20px;
}
.box_top_1 {
    margin-top: 15%;
}
.box_top_2 {
    margin-top: 4%;
}

/* About Section */
.about_section {
    background-color: #fffbf2;
    padding: 60px 0;
}
.about_row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1230px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.about_row .col-2 {
    width: 49%;
}

/* customers */

.customers {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1230px;
    margin: 0 auto;
    padding: 70px 0 70px;
    gap: 1rem;
}
.customers .col-4{
    width: 37%;
}
.customers .col-8{
    width: 61.5%;
    display: flex;
    gap: 1rem;
}
.customers_logo .col-3{
   width: 33%;
}
.customers_box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 6px 2px rgb(0 0 0 / 13%);
    margin-bottom: 1rem;
    cursor: pointer;
    transition-property: background-color, border-radius, box-shadow,filter;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    filter: grayscale(1);
}
.customers_box:hover {
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 10px 50px rgb(0 0 0 / 12%);
    filter: none;
}
.customers_icon {
    text-align: center;
    /* margin: 0 0 20px; */
}
.box_top_1 {
    margin-top: 15%;
}
.box_top_2 {
    margin-top: 4%;
}

/* Measure  */
.measure {
    background-color: #FAF9FE;
    padding: 70px 0;
}
.measure_row {
    max-width: 1230px;
    margin: 0 auto;
}

.measure_row .col-12 {
    width: 100%;
    text-align: center;
}
.measure_details {
    display: flex;
    gap: 1rem;
    margin: 70px 0;
}
.measure_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    transition-property: background-color, border-radius, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: linear;
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 10px 4px rgb(0 0 0 / 5%);
}

.measure_box:hover {
    background-color: #faf9fe;
    border-radius: 0px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 37%);
}
.measure_icon {
    margin-bottom: 20px;
}

/* Partner With Us */
.partner_with_us {
    padding: 70px 0;
}
.partner_row {
    max-width: 1230px;
    margin: 0 auto 60px;
    display: flex;
    gap: 1rem;
}
.partner_logos_bg {
    display: flex;
    gap: 1rem;
    margin-top: 13%;
    margin-bottom: -10%;
}
.partner_icon {
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 37%);
}
.partner_row .col-8 {
    background-image: url(/img/Partner/map\ bg.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #faf9fe;
    border-radius: 5px;
    padding: 20px;
    margin-top: 5%;
}

/* Waiting */
.waiting_section {
    padding: 70px 0;
}
.waiting_row {
    max-width: 1360px;
    margin: 0 auto;
    background-image: url(/img/Home_CTA_Bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    /* background: rgb(153,204,0); */
    /* background: linear-gradient(90deg, rgba(153,204,0,0.4598214285714286) 0%, rgba(252,169,53,1) 100%); */
    border-radius: 5px;
    display: flex;
    gap: 1rem;
}
.waiting_row .col-6{
    padding: 10% 5%;
}
.waiting_row h2, .waiting_row p{
    color: #000;
}
.waiting_CTA{
    color: #000000;
}

/* Footer */
footer{
    background-color: #F9F9F9;
    padding: 40px 0 0;
}
.footer_row {
    max-width: 1230px;
    margin: 0 auto 30px;
    display: flex;
    gap: 1rem;
}
.footer_copy_area {
    padding: 2% 0 1%;
    border-top: 1px solid #ffb200;
}
.copy_row{
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.social_icon{
    display: flex;
    justify-content: flex-end;
}
a.footer_phone {
    color: #444F60;
    transition-property: color;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
a.footer_phone:hover {
    color: #99cc00;
    text-decoration: none;
}

.social_icon ul{
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    align-items: center;
}
.social_icon a{
    color:#444F60;
    transition-property: color, font-size;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.social_icon a:hover{
    color: #99cc00;
    font-size: 20px;
}
.fa-brands, .fab {
    font-weight: 400;
    font-size: 18px;
}