@media only screen and (max-width: 767px){

    /* column */
    .col-12, .col-6, .col-2, .col-3, .col-4, .col-8, .col-1{
        width: 100%!important;
    }

    /* button */
    button {
        padding: 11px 20px!important;
        max-width: 100%!important;
    }

    /* font */
    h1 {
        font-size: 35px!important;
        line-height: 45px!important;
    }
    h2{
        font-size: 28px!important;
        line-height: 38px!important;
    }
    h3 {
        font-size: 18px!important;
        line-height: 28px!important;
    }
    h5 {
        font-size: 15px!important;
        line-height: 25px!important;
    }
    p{
        font-size: 15px!important;
        line-height: 20px!important;
    }

    /* Header */
    main{
        margin: 0 15px;
    }

    header{
        max-width: 100%!important;
        position: relative;
    }
    .logo img{
        width: 135px;
    }

    /* Banner */
    .banner_bg{
        max-width: 100%;
    }
    .banner_inner {
        padding: 0 35px!important;
    }
    .cta_buttons {
        display: flex!important;
        gap: 1rem!important;
        flex-direction: column;
    }


    /* testdrive */
    .testdrive {
        max-width: 100%!important;
        margin: 0 15px!important;
        padding: 70px 30px !important;
        text-align: center;
    }
    .testdrive_box {
        background-color: #faf9fe!important;
        border-radius: 0px!important;
        box-shadow: 0 10px 50px rgb(0 0 0 / 12%)!important;
    }
    .testdrvie_content {
        padding: 0!important;
    }
    .drive_icon {
        margin: 0 auto 20px!important;
        width: 90px!important;
    }

    /* About */
    .about_section {
        margin: 0 15px;
        padding: 60px 0px!important;
    }
    .about_row{
        max-width: 100%!important;
        padding: 0 30px;
        text-align: center;
    }
    
    /* customers */
    .customers {
        max-width: 100%!important;
        margin: 0 15px!important;
        padding: 70px 30px!important;
        text-align: center;
    }
        
    .customers_logo_mobile{
        display: block!important;
    }

    .customers_logo_mobile .col-3{
        display: flex!important;
        gap: 1rem;
        justify-content: center;
    }
    .customers_box {
        filter: none!important;
    }
    .box_top_1, .box_top_2 {
        margin-top: 0%!important;
    }

    /* Measure */
    .measure {
        padding: 70px 0px!important;
    }
    .measure_row {
        max-width: 100%!important;
        padding: 0 30px!important;
        margin: 0 15px!important;
    }
    .measure_details{
        display: block!important;
    }

    /* Partner */
    .partner_with_us {
        margin: 0 15px;
        padding: 70px 0px!important;
    }
    .partner_row {
        max-width: 100%!important;
        margin: 0 0px!important;
        display: block!important;
        padding: 0 30px;
    }
    .partner_logos_bg {
        margin-top: 5%!important;
        margin-bottom: 0%!important;
        flex-wrap: wrap;
        justify-content: center;
    }
    .partner_logos_bg .col-4{
        width: 45%!important;
    } 
    .partner_row .col-8 {
        padding: 1px 0 20px!important;
        margin: 0!important;
        max-width: 100%;
        background-image: none!important;
    }
    .partner_icon {
        padding: 10px 0!important;
    }

    /* waiting */
    .waiting_section {
        padding: 0px 0 70px!important;
        margin: 0 15px;
    }
    .waiting_row {
        max-width: 100%!important;
        margin: 0 auto!important;
        background-image: none!important;
        background: linear-gradient(90deg, rgba(153,204,0,0.4598214285714286) 0%, rgba(252,169,53,1) 100%)!important;
        display: block!important;
        padding: 30px;
        text-align: center;
    }
    .waiting_row .col-6 {
        padding: 0!important;
    }


    /* Footer */
    footer {
        padding: 40px 0px 0!important;
    }
    .footer_row {
        max-width: 100%!important;
        display: block!important;
        margin: 0 15px!important;
        padding: 0 30px;
    }
    .footer_row .col-4 {
        margin-bottom: 40px;
    }
    .copy_row {
        max-width: 100%!important;
        display: block!important;
        text-align: center;
    }
    .social_icon {
        justify-content: center!important;
    }
    .social_icon ul {
        padding-inline-start: 0px;
    }


    /* About Page */
    .banner_bg.about_banner {
        display: block;
        text-align: center;
        padding: 15% 0px;
        height: 100%!important;
    }
    .about_page_head {
        text-align: left!important;
        padding: 0!important;
    }
    .about_content {
        text-align: left;
    }
    .we_r_box {
        padding: 15px 15px 5px!important;
    }
    .we_r {
        margin: 0 15px!important;
        border-radius: 10px;
    }
    .we_offer_details {
        margin: 30px 0 0!important;
    }
    .we_o_box {
        text-align: left!important;
    }


    /* Our Customers */
    .banner_bg.about_banner.customers_banner {
        padding: 15% 0 0;
    }
    
    .banner_bg.about_banner.customers_banner .col-2 {
        margin-bottom: 40px!important;
    }
    .customers_page_details {
        margin: 40% 0 -100px!important;
    }
}


@media only screen and (max-width: 959px){
    .mobile_navbar_btn{
        display: block!important;
        z-index: 999;
    }
    .navbar {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex!important;
        justify-content: center;
        z-index: 999;
        padding: 30px 0 0;
        transform: translate(100%);
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: fixed;
    }
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }
    .mobile_menu_active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .mobile_menu_active 
    .mobile_navbar_btn 
    .mobile_nav_icon[name="close-outline"]{
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
    }
    .mobile_menu_active 
    .mobile_navbar_btn 
    .mobile_nav_icon[name="menu-outline"]{
        display: none;
    }
    nav{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px){

    /* font */
    h1 {
        font-size: 45px!important;
        line-height: 55px!important;
    }
    h2{
        font-size: 30px!important;
        line-height: 45px!important;
    }
    h3 {
        font-size: 20px!important;
        line-height: 30px!important;
    }
    h4 {
        font-size: 17px;
        font-weight: 700;
        line-height: 26px;
    }
    h5 {
        font-size: 17px!important;
        line-height: 27px!important;
    }
    p{
        font-size: 15px!important;
        line-height: 20px!important;
    }
    
    /* Banner */
    main {
        margin: 0 15px;
    }
    .banner_bg {
        max-width: 100%;
        height: 400px!important;
    }

    /* Testdrive */
    .testdrive {
        max-width: 100%!important;
        margin: 0 15px!important;
        padding: 70px 30px !important;
        text-align: center;
    }
    .col-4.tab_screen {
        width: 100%!important;
        padding: 0px !important;
        text-align: center;
    }
    .testdrive .col-3 {
        width: 31%!important;
    }
    .drive_icon {
        margin: 0 auto 20px!important;
    }
    .drive_icon img {
        width: 100px;
    }
    .testdrvie_content {
        padding: 0!important;
    }

    /* About */
    .about_section {
        margin: 0 15px;
        padding: 60px 0px!important;
    }
    .about_row {
        max-width: 100%!important;
        padding: 0 30px;
    }
    .about_row .col-2 {
        width: 48%!important;
    }

    /* Customers */
    .customers {
        margin: 0 15px!important;
        padding: 70px 30px!important;
    }
    .customers .col-4 {
        width: 100%!important;
        text-align: center;
    }
    .customers .col-8 {
        width: 100%!important;
    }
    .customers_icon img{
        width: 175px;
    }

    /* Measure */
    .measure {
        padding: 70px 0px!important;
    }
    .measure_row {
        padding: 0 30px!important;
        margin: 0 15px!important;
    }
    .measure_icon {
        margin: 0 auto 20px!important;
        width: 65px!important;
    }
    .measure_box {
        padding: 20px 10px!important;
    }

    /* Partner */
    .partner_with_us {
        margin: 0 15px;
        padding: 70px 0!important;
    }
    .partner_row {
        max-width: 100%!important;
        padding: 0 30px;
        display: block!important;
        text-align: center;
    }
    .partner_row .col-4 {
        width: 100%!important;
    }
    .partner_row .col-8 {
        width: 94%!important;
    }
    .partner_icon {
        padding: 15px 0!important;
    }

    /* Waiting */
    .waiting_section {
        padding: 0px 0!important;
    }
    .waiting_row {
        background-position: center!important;
        padding: 0 30px;
    }
    .waiting_row .col-6 {
        padding: 10% 2%!important;
    }

    /* Footer */
    footer {
        padding: 40px 0px 0!important;
    }
    .footer_row {
        margin: 0 15px!important;
        padding: 0 30px;
    }
    .copy_row {
        margin: 0 15px 30px!important;
        padding: 0 30px;
    }
    .col-6.copyright {
        width: 70%;
    }
    a.footer_phone {
        font-size: 14px!important;
    }

}


@media only screen and (min-width: 960px) and (max-width: 1239px){
    
    /* Banner */
    main {
        margin: 0 15px;
    }
    .banner_bg {
        width: 100%!important;
        height: 525px!important;
    }
    .banner_inner {
        padding: 0 40px!important;
    }

    /* Testdrive */
    .testdrive {
        justify-content: center;
        align-items: flex-start;
        margin: 0 15px!important;
        padding: 70px 0px 70px!important;
    }
    .testdrvie_content {
        padding: 0!important;
    }
    .testdrive .col-4 {
        width: 23.5%!important;
    }
    .drive_icon img {
        width: 100px;
    }

    /* About */
    .about_row {
        margin: 0 15px!important;
    }
    .about_section {
        padding: 60px 0px!important;
    }


    /* Customers */
    .customers {
        margin: 0 15px!important;
        align-items: center!important;
        justify-content: center!important;
        padding: 70px 0 70px!important;
    }
    .customers .col-4 {
        width: 36%!important;
    }

    /* Measure */
    .measure {
        padding: 70px 0px!important;
    }
    .measure_row {
        margin: 0 15px!important;
    }
    .measure_icon img {
        width: 65px;
    }


    /* Partner */
    .partner_with_us {
        padding: 70px 0 0!important;
        margin: 0 15px;
    }
    .partner_row {
        display: block!important;
    }
    .partner_row .col-4 {
        width: 95%!important;
        text-align: center!important;
        margin: 0 auto!important;
    }
    .partner_row .col-8 {
        width: 90%!important;
        margin: 5% auto 0!important;
    }
    .partner_icon {
        padding: 10px 0!important;
    }
    .partner_logos_bg {
        margin-top: 10%!important;
    }


    /* Waiting */
    footer {
        padding: 40px 0px 0!important;
    }
    .waiting_section {
        padding: 70px 0px!important;
    }
    .waiting_row {
        background-position: center!important;
    }
    .waiting_section {
        margin: 0 15px!important;
    }

    /* Footer */
    .footer_row {
        margin: 0 15px 30px!important;
    }
    .copy_row {
        margin: 0 15px 30px!important;
    }
}

@media only screen and (min-width: 1240px){
    

}

